@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #1a1d22;
    position: relative;
    /* background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 1520px;
    background-position: right bottom; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    top: 0;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #dddddd;
    font-size: 12px;

}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: #d3c5c5;
    font-family: Poppins;
}

.menu li a:hover,
.active{
    background-color: #363636;
    color: #ffffff !important;
    font-weight: 700;
    transition: all ease 0.5s;
}

.name{
    font-family: calibri;
    width: 650px;
    position: absolute;
    left: 15%;
    top: 40%;
}
.name-highlight{
    color: #25cdd3;
}

.name p:nth-child(1),
.name .details{
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
}
.name h1{
    font-family: "Rubik","Arial",sans-serif;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
    color: #ffffff;
}
.name-highlight{
    color: #25cdd3;
}
.cv-btn{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25b9d3;
    color: #ffffff;
    border-radius: 30px;
}
.cv-btn:hover{
    transform: scale(1.05);
    transition: all ease 0.4s;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color: rgba(235, 225, 225, 0.4);
    font-size: 14px;
}
.social a:hover i{
    color: #17d1ac;
    transition: all ease 0.5s;
}

.intro{
    background: #161616;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text{
    color: #ffffff;
    font-family: "Rubik","Arial",sans-serif;
    font-size: 3rem;
    letter-spacing: 10px;
}

.slider{
    background: #3c4452;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide{
    background: #161616;
    overflow: hidden;
}

.hide div{
    transform: translateY(100%);
    /*display: inline-block;*/
}














/**************************
        ABOUT SECTION 
 **************************/

#about{
	width:100%;
	height: 100vh;
	background-color:#161616;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color:#17d1ac;
}
.about-text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
}
.about-text button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color:#17d1ac;
}
.about-text button:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}

