@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    font-family: calibri;
    background-color: #1a1d22;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.content-div{
    margin-left: 50%;
    margin-right: 5%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    top: 0;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    position: fixed;
    background-color: #1a1d22;
    z-index: 2;
}


.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #dddddd;
    font-size: 18px;
}

.menu li a:hover,
.active{
    border-bottom: 5px solid #25b9d3;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.fixed-img{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
}
.fixed-img img{
    height: 100%;
    width: 100%;
}

/***********************************************************/
/***********************************************************/

/* .name{
    margin-top: 45%;
    margin-bottom: 40%;
}
.about-text{
    margin-top: 40%;
    margin-bottom: 40%;
} */
/* .name, .about-text, .skill-content, .project-content, .contact-content{
    margin: 35% 10% 30% 10%;
} */






/***********************************************************/
/***********************************************************/

#main{
    padding-top: 23%;
    padding-bottom: 15%;
}

.name-highlight{
    color: #25b9d3;
}

.name p:nth-child(1),
.name .details{
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
}
.name h1{
    font-family: "Rubik","Arial",sans-serif;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
    color: #ffffff;
}

.cv-btn{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25b9d3;
    color: #ffffff;
    border-radius: 30px;
}
.cv-btn:hover{
    transform: scale(1.05);
    transition: all ease 0.4s;
}

/***********************************************************/
/***********************************************************/

#about{
    padding-top: 17%;
    padding-bottom: 12%;
}

.about-text h1{
    color: #25b9d3;
    font-family: "Rubik","Arial",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}

.about-text p{
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
}


/***********************************************************/
/***********************************************************/

#skills{
    padding-top: 10%;
    padding-bottom: 8%;
}

.skill-heading{
    font-family: "Rubik","Arial",sans-serif;
    color: #25b9d3;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.skill-list{
    text-transform: uppercase;
}

.skill-list h3{
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 2px;
}
.skill-list .list{
    padding-left: 8px;
}

.bar{
    background: #353b48;
    width: 70%;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(45, 100, 218)0%,rgba(37, 185, 211, 1)100%);
}

.java{
    width: 70%;
    animation: java 3s;
}
.python{
    width: 50%;
    animation: python 3s;
}
.dsa{
    width: 70%;
    animation: dsa 3s;
}
.ml{
    width: 40%;
    animation: ml 3s;
}
.webdev{
    width: 20%;
    animation: webdev 3s;
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes dsa{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes ml{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes webdev{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

/***********************************************************/
/***********************************************************/
#projects{
    padding-top: 8%;
    padding-bottom: 6%;
}

#projects h1{
    font-family: "Rubik","Arial",sans-serif;
    color: #25b9d3;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.card-deck{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card{
    cursor: pointer;
    height: 400px;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ffffff;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-holder:hover .card{
    transform: rotateY(180deg);
}

.card-front{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card-front .img-box{
    height: 80%;
    width: 100%;
}
.card-front .img-box img{
    height: 100%;
    width: 100%;
}
.project-title{
    text-transform: uppercase;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
}

.card-back{
    height: 100%;
    width: 100%;
    transform: translateY(-400px) rotateY(180deg);
    background: #111111;
    backface-visibility: hidden;
}
.card-back .back-content{
    padding: 20px;
    text-align: center;
}
.card-back .back-content h2{
    font-size: 40px;
}


/***********************************************************/
/***********************************************************/


#contact{
    padding-top: 16%;
    padding-bottom: 14%;
}

#contact h1{
    font-family: "Rubik","Arial",sans-serif;
    color: #25b9d3;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

#contact .social-media-icons ul li{
    font-size: 25px;
    padding: 20px;
    transform: translateX(10px);
    color: #dddddd;
    width: fit-content;
    cursor: pointer;
    text-shadow: none;
    transition: all 0.5s ease-in-out;
}
#contact .social-media-icons ul li:hover{
    text-shadow: 0 0 1px #0c7dda,
    0 0 5px #0c7dda,
    0 0 10px #0c7dda,
    0 0 15px #0c7dda,
    0 0 20px #0c7dda;
    transform: scale(1.1) translate(5%);
}
#contact .social-media-icons ul li i{
    font-size: 30px;
    margin-right: 40px;
    transform: translateY(4px);
}
