*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #dddddd;
}

body{
    font-family: calibri;
    background-color: #1a1d22;
}

nav{
    background-color: #1a1d22;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    padding: 10px 50px;
    position: fixed;
    z-index: 2;
}

nav ul{
    float: right;
}

.menu li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}

.menu li a{
    padding: 10px 15px;
    color: #dddddd;
    font-size: 18px;
}

.menu li a:hover,
.active{
    border-bottom: 5px solid #25b9d3;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.checkbtn{
    font-size: 30px;
    color: #dddddd;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* .empty-col{
    height: 100vh;
} */

.home-row{
    padding-top: 80px;
}

.fixed-img{
    position: fixed;
}
.fixed-img img{
    width: 100%;
    height: 85vh;
}

.name{
    padding-top: 30vh;
    padding-left: 30px;
}
.name-highlight{
    color: #25b9d3;
}

.name p:nth-child(1),
.name .details{
    margin: 30px 0 10px 0;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
}

.name h1{
    font-family: "Rubik","Arial",sans-serif;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
    color: #ffffff;
}

.cv-btn{
    margin: 30px 0 10px 0;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25b9d3;
    color: #ffffff;
    border-radius: 30px;
}
.cv-btn:hover{
    transform: scale(1.05);
    transition: all ease 0.4s;
}

.about-text{
    padding-top: 35vh;
    padding-left: 30px;
}
.about-text h1{
    color: #25b9d3;
    font-family: "Rubik","Arial",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}

.about-text p{
    color: #ffffff;
    margin-top: 30px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
}

.skill-content{
    padding-top: 35vh;
    padding-left: 30px;
}
.skill-heading{
    font-family: "Rubik","Arial",sans-serif;
    color: #25b9d3;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.skill-list{
    text-transform: uppercase;
}

.skill-list h3{
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 2px;
}
.skill-list .list{
    padding-left: 8px;
}

.bar{
    background: #353b48;
    width: 70%;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(45, 100, 218)0%,rgba(37, 185, 211, 1)100%);
}

.java{
    width: 70%;
    animation: java 3s;
}
.python{
    width: 50%;
    animation: python 3s;
}
.dsa{
    width: 70%;
    animation: dsa 3s;
}
.ml{
    width: 40%;
    animation: ml 3s;
}
.webdev{
    width: 20%;
    animation: webdev 3s;
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes dsa{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes ml{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes webdev{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

.project-content{
    padding-top: 35vh;
    padding-left: 30px;
}
#projects h1{
    font-family: "Rubik","Arial",sans-serif;
    color: #25b9d3;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.card-deck{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.card{
    cursor: pointer;
    height: 400px;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ffffff;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-holder:hover .card{
    transform: rotateY(180deg);
}

.card-front{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card-front .img-box{
    height: 80%;
    width: 100%;
}
.card-front .img-box img{
    height: 100%;
    width: 100%;
}
.project-title{
    text-transform: uppercase;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
}

.card-back{
    height: 100%;
    width: 100%;
    transform: translateY(-400px) rotateY(180deg);
    background: #111111;
    backface-visibility: hidden;
}
.card-back .back-content{
    padding: 20px;
    text-align: center;
}
.card-back .back-content h2{
    font-size: 40px;
    margin: 30px 0 30px 0;
}



.contact-content{
    padding-top: 35vh;
    padding-left: 30px;
    padding-bottom: 10vh;
}

#contact h1{
    font-family: "Rubik","Arial",sans-serif;
    color: #25b9d3;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 60px;
}
#contact .social-media-icons ul li{
    font-size: 25px;
    padding: 20px;
    transform: translateX(10px);
    color: #dddddd;
    width: fit-content;
    cursor: pointer;
    text-shadow: none;
    transition: all 0.5s ease-in-out;
}
#contact .social-media-icons ul li:hover{
    text-shadow: 0 0 1px #0c7dda,
    0 0 5px #0c7dda,
    0 0 10px #0c7dda,
    0 0 15px #0c7dda,
    0 0 20px #0c7dda;
    transform: scale(1.1) translate(5%);
}
#contact .social-media-icons ul li i{
    font-size: 30px;
    margin-right: 40px;
    transform: translateY(4px);
}












/*********************************************************/

@media (max-width : 1300px){

    .card{
        height: 380px;
        width: 280px;
    }
    
    .project-title{
        font-size: 20px;
    }
    
    .card-back{
        transform: translateY(-380px) rotateY(180deg);
    }
}




/**********************************************************/

@media (max-width : 1024px){
    .menu li a{
        font-size: 16px;
    }
    .name p:nth-child(1),
    .name .details{
        font-size: 18px;
    }

    .name h1{
        font-size: 45px;
    }

    .about-text h1{
        font-size: 45px;
    }

    .skill-heading{
        font-size: 45px;
    }

    #contact .social-media-icons ul li{
        font-size: 20px;
        /* margin: auto; */
    }
}

/**********************************************************/

@media (max-width : 840px){

    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height : 100vh;
        background: #272c36;
        top: -100%;
        left: 0;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    .menu li{
        display: block;
    }
    .menu li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        top: 80px;
    }

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .empty-col{
        display: none;
    }

    .home-row{
        padding-top: 50px;
    }
    
    .fixed-img{
        position: relative;
        margin-top: 30px;
        text-align: center;
    }
    .fixed-img img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 10px solid #257fd3;
    }
    .name{
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
    }

    .name-highlight{
        display: inline-block;   
    }
    
    .name p:nth-child(1),
    .name .details{
        margin: 30px 0 10px 0;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .name h1{
        font-family: "Rubik","Arial",sans-serif;
        font-size: 40px;
        margin: 0px;
        letter-spacing: 3px;
        color: #ffffff;
    }
    .cv-btn{
        margin: auto;
        margin-top: 30px;
    }

    .about-text{
        padding-top: 160px;
        padding-left: 0;
        text-align: center;
    }
    .about-text h1{
        color: #25b9d3;
        font-family: "Rubik","Arial",sans-serif;
        font-size: 40px;
        letter-spacing: 3px;
    }
    
    .about-text p{
        color: #ffffff;
        margin-top: 30px;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .skill-content{
        padding-top: 160px;
        padding-left: 0;
        /* text-align: center; */
    }
    .skill-heading{
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    .skill-list ul{
        display: table;
        margin: 0 auto;
        transform: translateX(-20px);
    }

    .skill-list ul li{
        margin-top: 30px;
    }

    .skill-list h3{
        margin-bottom: 10px;
    }

    .bar{
        background: #353b48;
        width: 110%;
        height: 18px;
    }

    .project-content{
        padding-top: 160px;
        padding-left: 0;
    }

    #projects h1{
        font-size: 40px;
        text-align: center;
    }

    .card{
        margin: auto;
    }
    
    .project-title{
        text-transform: uppercase;
        height: 20%;
        width: 100%;
        padding-top: 20px;
        font-size: 25px;
        text-align: center;
        letter-spacing: 1px;
    }
    
    .card-back .back-content h2{
        font-size: 35px;
        margin: 30px 0 30px 0;
    }
    

    .contact-content{
        padding-top: 160px;
        padding-left: 0;
        padding-bottom: 10vh;
        text-align: center;
    }
    
    #contact h1{
        font-size: 40px;
    }
    #contact .social-media-icons ul{
        display: table;
        margin: 0 auto;
    }
    #contact .social-media-icons ul li{
        font-size: 20px;
        /* margin: auto; */
    }


}

/**********************************************************/
